.buttonContainer
    display: flex
    width: 100%
    box-sizing: border-box
    padding: 4px 4px 0px 4px
    
.sidebarButton
    border-style: solid
    border-width: 2px
    border-color: #EEE
    border-radius: 12px
    &:hover
        background-color: #CCC
        border-color: #CCC

.sidebarContainer
    margin: 0px
    padding: 0px
    background-color: #EEE
    display: flex
    justify-content: flex-start
    align-items: flex-start
    flex-direction: column
    flex-shrink: 0

.searchInputContainer
    width: 100%
    padding: 8px
    box-sizing: border-box

.searchInput
    width: 100%
    border: none
    border-radius: 8px
    font-size: 16px
    padding: 4px
    box-sizing: border-box
