.buttonContainer
    display: flex
    width: 100%
    box-sizing: border-box
    padding: 4px 4px 0px 4px

.sidebarButton
    border-style: solid
    border-width: 2px
    border-color: #EEE
    border-radius: 12px
    &:hover
        background-color: #CCC
        border-color: #CCC

.sidebarContainer
    margin: 0px
    padding: 0px
    background-color: #EEE
    display: flex
    justify-content: flex-start
    align-items: flex-start
    flex-direction: column
    flex-shrink: 0

.searchInputContainer
    width: calc( 100% - 8px )
    box-sizing: border-box
    display: flex
    align-items: center
    padding: 4px 8px
    margin: 4px 4px
    border-radius: 8px
    background-color: #FFF
    button
        padding: 0px
        background-color: #FFF

.searchInput
    border: none
    font-size: 14px
    padding: 4px
    box-sizing: border-box
    flex-grow: 1
    width: 100px
