.dialogMenuEntry
    background-color: #FFF
    width: 100%
    height: 100%
    border-radius: 4px
    cursor: pointer
    &:hover
        background-color: #EEE
    p
        margin: 6px
        margin-left: 24px
        font-size: 16px
        text-align: start
        vertical-align: middle
        height: 1em
        line-height: 1em