@import ../themify

.entryContainer
    @include themify()
        background-color: themed("base01")
        filter: drop-shadow(0 0 0.25rem themed("base03"))
    border-radius: 4px
    z-index: 101
    width: fit-content
    position: absolute

.dialogMenuEntry
    background-color: transparent
    width: 100%
    height: 100%
    border-radius: 4px
    cursor: pointer
    &:hover
        @include themify()
            background-color: themed("base02")
    p
        margin: 6px
        margin-left: 24px
        font-size: 16px
        height: 1em
        line-height: 1em