$tor-purple: #7D4698

body
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
  margin: auto
  max-width: 38rem
  padding: 2rem

//TODO this ***** accessibility
*:focus
  outline: none

::-webkit-scrollbar
  width: 6px
  height: 6px

::-webkit-scrollbar-thumb
  background: #aaa
  border-radius: 3px
  opacity: 0.5

::-webkit-scrollbar-track
  display: none

::-webkit-scrollbar-button
  display: none

::-webkit-scrollbar-corner
  display: none
